<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
	   http://cxf.apache.org/jaxws  http://cxf.apache.org/schemas/jaxws.xsd">
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<context:annotation-config></context:annotation-config>
	<context:component-scan
		base-package="com.fitec.tp.service, com.fitec.tp.dao, com.fitec.tp.rest" />

	<import resource="jpaSpringConf.xml" />
	<import resource="restSpringConf.xml" />

	<jaxws:endpoint id="serviceProduitEndpoint" implementor="#serviceProduitImpl"
		address="/serviceProduit" />
		
	<jaxws:endpoint id="servicePromotionEndpoint" implementor="#servicePromotionImpl"
		address="/servicePromotion" />		
		
	<jaxws:endpoint id="serviceUserEndpoint" implementor="#serviceUserImpl"
		address="/serviceUser" />
		
	<jaxws:endpoint id="serviceCommandeEndpoint" implementor="#serviceCommandeImpl"
		address="/serviceCommande" />		
		
	<jaxws:endpoint id="serviceLigneCommandeEndpoint" implementor="#serviceLigneCommandeImpl"
		address="/serviceLigneCommande" />		

<!-- 	<jaxws:endpoint id="serviceAuteurEndpoint" implementor="#serviceAuteurImpl" -->
<!-- 		address="/serviceAuteur" /> -->
	<!-- implementor = #idServiceSpring" et @Service() sur classe CalculateurImpl 
		URL complete : http://localhost:8080/wsSpringCxWeb/services/calculateur -->

	<!-- <jaxws:endpoint -->
	<!-- id="calculateurEndpoint" -->
	<!-- implementor="#calculateurImpl" -->
	<!-- address="/calculateur" /> -->

</beans>
