<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/classes/applicationContext.xml</param-value>
		<!-- le fichier applicationContext.xml (ou springContext.xml) est idéalement dans src/main/resources 
			dans un projet maven et il sera automatiquement recopé dans WEB-INF/classes 
			lorsque le .war sera construit par maven ou eclipse WEB-INF/classes/beans.xml 
			est le chemin vu par tomcat -->
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> <!-- initialisation de spring lors dès le démarrage webApp -->
	</listener>
	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
	</servlet>
	<!-- cxf....jar recherchés dans WEB-INF/lib ou … -->
	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>  <!-- ou autre que services/* → URL WS en "http://localhost:8080/myWebApp/services/serviceName" -->
	</servlet-mapping>

</web-app>